.button_genre {
   color: var(--color-grey-2);
   padding: 0.688rem 0.5rem;
   background-color: var(--color-grey-8);
   border: 1 solid var(--color-grey-8);
   cursor: pointer;
   border-radius: var(--radius-1);
   cursor:pointer;
}

.button_genre:focus, .button_genre:active {
    background-color: var(--color-grey-1);
    color: var(--color-grey-8);
    border: 1 solid var(--color-grey-1);
    cursor: pointer; 
 }

 .theme_button{
    background-color: var(--color-grey-8);
    border: none;
    padding: 0.563rem 0.625rem;
    border-radius: var(--radius-1);
    cursor: pointer;
 }
 
 .button_buy {
   color: var(--color-grey-2);
   padding: 0.688rem 0.5rem;
   background-color: var(--color-grey-7);
   border: 1 solid var(--color-grey-8);
   cursor: pointer;
   border-radius: var(--radius-1);
   cursor:pointer;
}